.idea/
_dev/
_env/
dist/
build/
node_modules/
test/files/ignored/*
*/test/files/ignored/*
*.DS_Store

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
